name: Deploy Amazon Connect CloudFormation

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ap-northeast-1

      - name: Validate CloudFormation template
        run: |
          aws cloudformation validate-template \
            --template-body file://amazonconnect-template.yaml

      - name: Deploy CloudFormation Stack
        run: |
          aws cloudformation deploy \
            --stack-name sample-connect-stack \
            --template-file amazonconnect-template.yaml \
            --capabilities CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND \
            --no-fail-on-empty-changeset
